---
---

@import '_variables.scss';
@import 'bootstrap/bootstrap';

h1, h2 {
  font-family: 'Skranji', cursive;
}

.jumbotron h1 {
  font-size: 8rem;
}

.clip-circle {
  display: block;
  height: 172px;
  width: 172px;
  border-radius: 50%;
  border: 1rem solid #4d4d4d;
  box-sizing: content-box;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: -4rem;
  right: 0;
  -webkit-transition: border .25s ease-out, height .25s ease-out, width .25s ease-out, left .25s ease-out, top .25s ease-out;
  -moz-transition: border .25s ease-out, height .25s ease-out, width .25s ease-out, left .25s ease-out, top .25s ease-out;
  -ms-transition: border .25s ease-out, height .25s ease-out, width .25s ease-out, left .25s ease-out, top .25s ease-out;
  -o-transition: border .25s ease-out, height .25s ease-out, width .25s ease-out, left .25s ease-out, top .25s ease-out;
  transition: border .25s ease-out, height .25s ease-out, width .25s ease-out, left .25s ease-out, top .25s ease-out;
  cursor: pointer;
}

section {
  min-height: 450px;
  position: relative;
}

section:first-child {
  min-height: 0;
  padding-top: 3rem;
}

section .mix-title {
  cursor: pointer;
  font-size: 4rem;
}

.mix-body {
  opacity: 0;
  position: absolute;
  left: -99999px;
  -webkit-transition: opacity .25s ease-in .25s;
  -moz-transition: opacity .25s ease-in .25s;
  -ms-transition: opacity .25s ease-in .25s;
  -o-transition: opacity .25s ease-in .25s;
  transition: opacity .25s ease-in .25s;
}

.note {
  display: block;
  padding-left: 1rem;
  font-size: .8rem;
}

.food-icon {
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}


section:nth-child(5n+1){
  background-color: $gray-dark;

  .clip-circle {
    border-color: $accent;
    background-color: $accent-light;
  }

  .food-icon {
    stroke: $gray;
    fill: $gray;
  }
}

section:nth-child(5n+2){
  background-color: $accent-light;
  color: $gray-dark;

  .clip-circle {
    border-color: $gray-dark;
    background-color: $gray;
  }

  .food-icon {
    stroke: $gray-lightest;
    fill: $gray-lightest;
  }

}

section:nth-child(5n+3){
  background-color: $gray;
  color: $gray-lightest;

  .clip-circle {
    border-color: $accent-light;
    background-color: $accent;
  }

  .food-icon {
    stroke: $gray-dark;
    fill: $gray-dark;
  }
}

section:nth-child(5n+4){
  background-color: $accent;
  color: $gray-dark;

  .clip-circle {
    border-color: $gray;
    background-color: $gray-dark;
  }

  .food-icon {
    stroke: $accent-light;
    fill: $accent-light;
  }
}

section:nth-child(5n+5){
  background-color: $gray-light;
  color: $gray-dark;

  .clip-circle {
    border-color: $gray-dark;
    background-color: $accent-light;
  }

  .food-icon {
    stroke: $gray-dark;
    fill: $gray-dark;
  }
}

section.active {
  .clip-circle {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border-width: .4rem;
    left: -90vw;
    top: -400px;
  }

  .mix-body {
    position: relative;
    opacity: 1;
    left: 0;
  }

}

footer {
  position: relative;
  height: 50px;
  padding-top: 20px;
}